@model CheckListDataModel.CheckListItem

@{
	ViewBag.Title = @Model.Parent;
}

<div data-role="header">
	<h1>@Model.Name</h1>
</div>
<div data-role="content">
    <div id="namePanel" data-role="fieldcontain" >
	    <div class="display-label">Name</div>
        <div class="ui-field-contain ui-body ui-br">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div id="descriptionPanel" data-role="fieldcontain" >
        <div class="editor-label">Description</div>
        <div class="ui-field-contain ui-body ui-br">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    
        <div id="typePanel" data-role="fieldcontain" >
       <div class="editor-label">Type</div>
        <div class="ui-field-contain ui-body ui-br">
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
 
    <div id="ordinalPanel" data-role="fieldcontain" >
        <div class="editor-label">Ordinal</div>
        <div class="ui-field-contain ui-body ui-br">
            @Html.DisplayFor(model => model.Ordinal)
        </div>
    </div>
 
   <div id="dataPanel" data-role="fieldcontain" >
        <div class="editor-label">Data</div>
        <div class="ui-field-contain ui-body ui-br">
            @Html.DisplayFor(model => model.Data)
        </div>
    </div>
 </div>